[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary = "*"
waitress = "*"
Flask-SQLAlchemy = "*"
Flask = "*"
python-dotenv = "*"
gunicorn = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
